<div class="row">
  <div class="outer-div">
    <div class="list-group">
      <%= @template.description.html_safe %></br>
      <hr>
      <a href="#" class="list-group-itemq">
        USE TEMPLATE
      </a>
    </div>
  </div>
</div>
